*{
    box-sizing: border-box;
    margin: 0;
  padding: 0;
}
.full-site{
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    min-width: fit-content;
    flex-wrap: wrap;
}
body{
    font-family: sans-serif;
    width: fit-content;
    height: fit-content;
}

.header{
    min-width:100%;
    position: relative;
}
section{
    flex:1;
}
.header img{
    min-width: 100%;
}
.header .black-shadow{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    background-color: black;
    opacity: 0.5;
}
.content{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    flex-wrap: wrap;
}

.content .top{
    align-items:stretch;
    display: flex;
    padding-top: 2rem;
    padding-left: 4rem;
    flex:1;
}

.content .top .logo img{
    max-width: 90px;
}
.content .top .navbar{
    flex-shrink: 1;
}
.content .bottom{
    flex:1;
    color: white;
}


.logo{
    margin-right:auto ;
}
.navbar ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 1rem;
    padding-right: 6vw;
    align-items: baseline;
    flex-wrap: wrap;
}
.navbar ul li{
    list-style: none;
    flex:1;
    white-space: nowrap;
    color:white;
    margin-left: 2.2vw;
}
.navbar ul .apply-now,
.bottom  a{
    background-color: #0d0;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bolder;
    max-width:fit-content;
    height: 40px;
    color: white;
    text-decoration: none;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
}
.bottom{
    display: flex;
    justify-content: flex-start;
    padding-left: 7vh;
    padding-top: 7%;
    padding-right: 7vh;
}
.bottom .bottom-content{
    width:50%;
    padding-right: 4vh;
}
.bottom .emty-div{
    width:50%;
}
h1{
    font-size:4vw;
    font-weight: bolder;
    padding-bottom: 7vh;
}

.bottom p{
    font-size: 2vw;
}
.number{
    padding:7vh;
}
.number .container-num{
    display: flex;
    justify-content: space-around;
}
.number .container-num .col4{
    text-align: center;
}

.number .container-num .col4 h1{
    color: #0d0;
}
.number .container-num .col4 strong{
    font-weight: bold;
    font-size: 2vw;
}

.learn-more .container-learn{
    display: flex;
    justify-content: center;
    padding: 7vh;
}

.learn-more .container-learn .col6{
    width: 50%;
}
.learn-more .container-learn .col6 img{
    max-width: 100%;
}
.learn-more .container-learn .col6 h2{
    font-size: 3vw;
    font-style: normal;
}
.learn-more .container-learn .col6 h2 strong{
    font-style: bold;
}
.learn-more .container-learn .col6 p{
    font-size: 2vw;
    white-space: pre-wrap;
    padding-top: 7vh;
}
.learn-more .container-learn .col6 p a{
    color: #0d0;
}

.courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:2vh 7vh;
    background: #0d0;
    flex-wrap: wrap;
}
.courses .title h2{
    width: 100%;
    font-size: 4vw;
    font-weight:400;
    text-align: center;
    align-self: center;
    color: white;
    padding: 1vw 0;
}
.courses .title .strong{
    font-weight: bold;
}
.courses .courses-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses .courses-container .col2{
    width: 50%;
}
.courses .courses-container .col2 img{
    width:100%;
    padding:0 2vw;
}

.rec-partner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2vw;
}

.rec-partner .title{
    text-align: center;
}

.rec-partner .title h4{
    font-size: 2.5vw;
    font-weight:400;
}

.rec-partner .title p{
    font-size: 1.5vw;
    padding-top: 1vw;
}

.quote,.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
}
.in-media,.newsletter{
    background: rgb(212, 211, 211);
}
.media-container,.partners,.fundings,.newsletter .container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 1vw;
    flex-wrap: wrap;
}
.title {
    padding: 2vw;
}
.title h4{
    font-size: 3vw;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
}

.row .col{
    padding: auto;
    flex:1;
}
.row .col img{
    width: 90%;
    height: 90%;
}
.line{
    display: flex;
    flex: 1;
}
hr{
    flex-grow: 1;
}

.newsletter .container .button button{
    background: black;
    font-size: 2vw;
    color: white;
    border-radius: 5px;
    padding:1vw;
    cursor: pointer;
}

footer{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}

footer .container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
footer .container .link{
    color:#0d0;
}
footer .container .copyrights{
    color:white;
}
footer .container .social{
    display: flex;
    justify-content: space-around;
}
footer .container .social .icon{
    
    padding-right: 2vw;
    font-size: 3vh;
}
footer .container .social .icon a{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 767px){
    .media-container .row,.number .container-num,.learn-more .container-learn,.courses .courses-container,.row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .partners .row .col img{
            width:100%;
            padding-top: 2vw;
        }
        footer .container{
            flex-direction: column;
            padding: auto;
        }
        footer .container .copyrights{
            align-self: center;
        }
        footer .container .social{
            align-self: flex-end;
        }
}

