*{
    box-sizing: border-box;
    margin: 0;
  padding: 0;
}
.full-site{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
body{
    font-family: sans-serif;
}

.header{
    min-width:100%;
    position: relative;
}

.header img{
    min-width: 100%;
}
.header .black-shadow{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    min-width:100%;
    background-color: black;
    opacity: 0.5;
}
.content{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.content .top{
    align-items:stretch;
    display: flex;
    padding-top: 2rem;
    padding-left: 4rem;
    height: 50%;
}

.content .top .logo img{
    max-width: 90px;
}
.content .top .navbar{
    flex-shrink: 1;
}
.content .bottom{
    flex:1;
    color: white;
}

.logo{
    margin-right:auto ;
}
.navbar ul{
    display: flex;
    flex-flow: row wrap;
  justify-content: space-between;
flex-wrap: wrap;
margin-top: 1rem;
padding-right: 2rem;
}
.navbar ul li{
    list-style: none;
    padding-right: 1.5rem;
    flex:1;
    white-space: nowrap;
    color:white
}
.bottom{
    margin: auto;
    padding: auto;

}