*{
    box-sizing: border-box;
    margin: 0;
  padding: 0;
}
.full-site{
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    min-width: fit-content;
    flex-wrap: wrap;
}
body{
    font-family: sans-serif;
}

.header{
    min-width:100%;
    position: relative;
}
section{
    flex:1;
}
.header img{
    min-width: 100%;
}
.header .black-shadow{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    background-color: black;
    opacity: 0.5;
}
.content{
    position: absolute;
    top: 0;
    left:0;
    height: inherit;
    width:inherit;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    flex-wrap: wrap;
}

.content .top{
    align-items:stretch;
    display: flex;
    padding-top: 2rem;
    padding-left: 4rem;
    flex:1;
}

.content .top .logo img{
    max-width: 90px;
}
.content .top .navbar{
    flex-shrink: 1;
}
.content .bottom{
    flex:1;
    color: white;
}


.logo{
    margin-right:auto ;
}
.navbar ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 1rem;
    padding-right: 6vw;
    align-items: baseline;
    flex-wrap: wrap;
}
.navbar ul li{
    list-style: none;
    flex:1;
    white-space: nowrap;
    color:white;
    margin-left: 2.2vw;
}
.navbar ul .apply-now,
.bottom  a{
    background-color: #0d0;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bolder;
    max-width:fit-content;
    height: 40px;
    color: white;
    text-decoration: none;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
}
.bottom{
    display: flex;
    justify-content: flex-start;
    padding-left: 7vh;
    padding-top: 7%;
    padding-right: 7vh;
}
.bottom .bottom-content{
    width:50%;
    padding-right: 4vh;
}
.bottom .emty-div{
    width:50%;
}
h1{
    font-size:calc((3.5 - 1) * 1.2vw + 1rem);
    font-weight: bolder;
    padding-bottom: 7vh;
}

.bottom p{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
}
.number{
    padding:7vh;
}
.number .container-num{
    display: flex;
    justify-content: space-around;
}
.number .container-num .col4{
    text-align: center;
}

.number .container-num .col4 h1{
    color: #0d0;
}
.number .container-num .col4 strong{
    font-weight: bold;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
}

.learn-more .container-learn{
    display: flex;
    justify-content: center;
    padding: 7vh;
}

.learn-more .container-learn .col6{
    width: 50%;
}
.learn-more .container-learn .col6 img{
    max-width: 100%;
}
.learn-more .container-learn .col6 h2{
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    font-style: normal;
}
.learn-more .container-learn .col6 h2 strong{
    font-style: bold;
}
.learn-more .container-learn .col6 p{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    white-space: pre-wrap;
    padding-top: 7vh;
}
.learn-more .container-learn .col6 p a{
    color: #0d0;
}

.courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:2vh 7vh;
    background: #0d0;
    flex-wrap: wrap;
}
.courses .title h2{
    width: 100%;
    font-size: 4vw;
    font-weight:400;
    text-align: center;
    color: white;
    padding-top: 1vw;
}
.courses .title .strong{
    font-weight: bold;
}
.courses .courses-container{
    width:90%;
    padding:4vw 10vw;
    align-self:center ;
}

.courses .courses-container .col2{
    float:left;
    width: 50%;
}
.courses .courses-container .col2 img{
    width:100%;
    padding:0 2vw;
}

.rec-partner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2vw;
}

.rec-partner .title{
    text-align: center;
}

.rec-partner .title h4{
    font-size: 2.5vw;
    font-weight:400;
}

.rec-partner .title p{
    font-size: 1vw;
    padding-top: 1vw;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
}
.in-media{
    background: rgb(212, 211, 211);
}
.media-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 2vw;
}
.media-container .title {
    padding: 2vw;
}
.media-container .title h4{
    font-size: 3vw;
    text-align: center;
}
.media-container .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
}

.media-container .row .col{
    padding: auto;
    flex:1;
}
.media-container .row .col img{
    width: 90%;
    height: 90%;
}