*{
    box-sizing: border-box;
    margin: 0;
  padding: 0;
}
.full-site{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
body{
    font-family: sans-serif;
}

.header{
    min-width:100%;
    position: relative;
}

.header img{
    min-width: 100%;
}
.header .black-shadow{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    min-width:100%;
    background-color: black;
    opacity: 0.5;
}
.content{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.content .top{
    align-items:stretch;
    display: flex;
    padding-top: 2rem;
    padding-left: 4rem;
    height: 50%;
}

.content .top .logo img{
    max-width: 90px;
}
.content .top .navbar{
    flex-shrink: 1;
}
.content .bottom{
    flex:1;
    color: white;
}

.logo{
    margin-right:auto ;
}
.navbar ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 1rem;
    padding-right: 6vw;
    align-items: baseline;
}
.navbar ul li{
    list-style: none;
    flex:1;
    white-space: nowrap;
    color:white;
    margin-left: 2.2vw;
}
.navbar ul .apply-now,
.bottom  a{
    background-color: #0d0;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bolder;
    max-width:fit-content;
    height: 40px;
    color: white;
    text-decoration: none;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
}
.bottom{
    display: flex;
    justify-content: flex-start;
    padding-left: 7vh;
    padding-bottom: 7vh;
    padding-right: 7vh;
}
.bottom .bottom-content{
    width:50%;
    padding-right: 4vh;
}
.bottom .emty-div{
    width:50%;
}
h1{
    font-size:calc((3.5 - 1) * 1.2vw + 1rem);
    font-weight: bolder;
    padding-bottom: 7vh;
}
.bottom .button{
    padding-top: 7vh;
}

.bottom p{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
}
.number{
    padding:7vh 7vh;
}
.number .container-num{
    display: flex;
    justify-content: space-around;
}
.number .container-num .col4{
    text-align: center;
}

.number .container-num .col4 h1{
    color: #0d0;
}
.number .container-num .col4 strong{
    font-weight: bold;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
}

